<div class = "container">
<div class="panel panel-default">
 <div class="panel-heading"><%= @user.name %></div>
  <div class="panel-body">
<% if signed_in?&&current_user.follows?(@user) %>
<%= link_to raw("<i class=\"fa fa-hand-o-left\"></i> unfollow #{@user.name}"), unfollow_user_path(@user),class: "btn btn-primary" %>
<% else %>
<%= link_to raw("<i class=\"fa fa-hand-o-right\"></i>
follow #{@user.name}"), follow_user_path(@user), class: "btn btn-primary" %>
<% end %>
<div class = "row"> 
		<div class = "col-lg-4 Profile-data">
		Pins <%= @user.pins.count %>			
	</div>
	<div class = "col-lg-4 Profile-data">
		Followers <%= Follow.where(followable_id: User.first.id).count %>
	</div>
	<div class = "col-lg-4 Profile-data">
		Following
	</div>
	</div>
  </div>
</div>

</div>
